.maze {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: opacity 1.5s;

  --wall-color: hsl(0deg 0% 75%);
  --cell-size: min(3vw, 5.25vh);
}

.maze.game-won {
  opacity: 0.15;
}

.maze::before {
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  height: 1px;
  position: absolute;
  background-color: var(--wall-color);
  outline: 0.5px solid var(--wall-color);
}

.maze::after {
  content: "";
  height: 100%;
  top: 0;
  left: 0;
  width: 1px;
  position: absolute;
  background-color: var(--wall-color);
  outline: 0.5px solid var(--wall-color);
}

.maze-row {
  display: flex;
  flex-direction: row;
}
